#infoLabel {
	width: 200px;
	text-align: center;
}

#squares {
	width: 200px;
}

.square .ui-btn-text {
    font-size: 34px; 
   	font-family: Helvetica, Arial, sans-serif;
   	font-weight: bold;
} 

.square .ui-btn-inner {
	padding: 0;
	padding-top: 5px;
}

.square {
	width: 50px;
	height: 50px;
	font-weight: bold;
}

.centered {
	margin-left:auto;
	margin-right:auto;
}


#footer {
	display: none;
}

#playerName {
	display: inline;
}

#infoMessage {
	width: 200px;
	text-align: center;
	color: green;
}